{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
  {% spaceless %}
    {% set size = 'col-xs-12' %}
    {% set label = form.vars.label|trans({}, form.vars.translation_domain) %}
    {% if form.vars.required %}{% set label = label ~ ' *' %}{% endif %}

    <div class="form-group">
      {#{{ form_label(form) }}#}
      {{ form_widget(form,{'attr':{'placeholder':label}}) }}
      {{ form_errors(form) }}
    </div>

  {% endspaceless %}
{% endblock form_row %}

{% block form_label -%}
  {% if label is not same as(false) %}
    {% set label_attr = label_attr|merge({'class': label_attr.class|default('floating-label')}) %}
    {{ parent() }}
  {%- endif %}
{%- endblock form_label %}

{% block form_widget_simple -%}
  {% set attr = attr|merge({'class': attr.class|default('form-control floating-label')}) %}
  {% if attr.icon is defined %}
    <div class="input-group">
      <span class="input-group-addon"> <i class="{{ attr.icon }}"></i> </span>
      {{ parent() }}
    </div>
  {% else %}
    {{ parent() }}
  {% endif %}
{%- endblock form_widget_simple %}

{% block form_errors %}
  {% spaceless %}
    {% if errors|length > 0 %}
      <ul class="list-unstyled">
        {% for error in errors %}
          <li class="text-danger text-right">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endspaceless %}
{% endblock form_errors %}

{% block choice_widget_collapsed -%}
  {% set attr = attr|merge({'class': attr.class|default('select2-component')}) %}
  {% if attr.icon is defined %}
    <div class="input-group">
      <span class="input-group-addon"> <i class="{{ attr.icon }}"></i> </span>
      {{ parent() }}
    </div>
  {% else %}
    {{ parent() }}
  {% endif %}
{%- endblock choice_widget_collapsed %}

{% block money_widget -%}
  {% set attr = attr|merge({'class': attr.class|default('form-control floating-label')}) %}
  {#{{ money_pattern|replace({ '{{ widget }}': block('form_widget_simple') })|raw }}#}
  {{ block('form_widget_simple') }}
{%- endblock money_widget %}

{%- block textarea_widget -%}
  {% set attr = attr|merge({'class': attr.class|default('form-control floating-label')}) %}
  {{ parent() }}
{%- endblock textarea_widget -%}

{%- block checkbox_widget -%}
  <div class="checkbox">
    {% if attr.placeholder is defined and attr.placeholder is not empty %}
      <label>
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {{ attr.placeholder }}
      </label>
    {% else %}
      {{ parent() }}
    {% endif %}
  </div>
{%- endblock checkbox_widget -%}